<?xml version="1.0"?>
<model>
  <name>DCU Drone with flow_cam</name>
  <version>1.0</version>
  <sdf version='1.0'>model.sdf</sdf>

  <author>
   <name>Sukwon Choi</name>
   <email>swchoi06@wafflestudio.com</email>
  </author>

  <description>
    This is DCU Drone with flow_cam. This drone is based on iris drone.
  </description>
</model>
